.firstColumn
{
  display: inline-block;
  border: 1px dashed #797979;
  height: 100%;
  width: 15%;
}

.column
{
  display: inline-block;
  border: 1px dashed #ff0000;
  height: 100%;
  width: 85%;
  contain: content;
}