.firstColumn
{
  display: inline-block;
  border: 1px double #797979;
  height: 100%;
  width: 15%;
}

.column
{
  display: inline-block;
  height: 100%;
  width: 85%;
  contain: content;
}